.soo-blog-main {
  min-height: 100vh;
}
.soo-blog-main .logo {
  height: 32px;
  line-height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
  font-size: 22px;
  letter-spacing: 10px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
.soo-blog-main .logo-img {
  width: 100%;
}
.soo-blog-main .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}
.soo-blog-main .trigger:hover {
  color: #1890ff;
}
.soo-blog-main .ant-layout-sider {
  background-color: #fff;
}
